In [14]:
import pandas as pd
import glob
import os
from functools import reduce

folder_path = '../Outputs/output_csv'

csv_files = glob.glob(os.path.join(folder_path,"*.csv"))

dfs = []

for i, file in enumerate(csv_files):
    df = pd.read_csv(file)
    df = df.rename(columns={
        col: f"{col}_df{i}" if col != 'County' else col
        for col in df.columns
    })
    dfs.append(df)

merged_df = reduce(
    lambda left, right: pd.merge(left,right,on='County',how='outer'),
    dfs
)

merged_df.fillna(0)

merged_df = merged_df.sort_values('County').reset_index(drop=True)

In [15]:
merged_df.head()

,County,Total_All_Schools_df0,TXST_df0,UT Austin_df0,Texas A&M_df0,Texas Tech_df0,Stephen F. Austin_df0,UTSA_df0,UNT_df0,UH_df0,...,Prime_Target_df8,Academic_Score_df8,Market_Score_df8,TXST_Gap_Score_df8,Participation_Score_df8,Strategic_Opportunity_Score_df8,Opportunity_Tier_df8,TXST_Enrollment_df9,Total_Enrollment_df9,TXST_Market_Share_df9
0,ANDERSON,1229.0,0.0,0.0,41.0,0.0,23.0,0.0,0.0,0.0,...,False,26.657143,59.836789,100.000000,64.157143,55.029608,Tier 5: Maintain/Monitor,NaN,NaN,NaN
1,ANDREWS,562.0,5.0,0.0,5.0,53.0,0.0,0.0,0.0,0.0,...,False,34.400000,53.264286,99.110320,47.100000,54.271350,Tier 5: Maintain/Monitor,5.0,562.0,0.889680
2,ANGELINA,3378.0,50.0,37.0,157.0,11.0,505.0,0.0,0.0,8.0,...,False,32.166667,68.335870,98.519834,50.628571,58.134252,Tier 4: Volume Play,50.0,3378.0,1.480166
3,ARANSAS,471.0,34.0,0.0,29.0,0.0,5.0,29.0,0.0,0.0,...,False,14.400000,51.781559,92.781316,94.800000,49.330731,Tier 5: Maintain/Monitor,34.0,471.0,7.218684
4,ARCHER,506.0,0.0,0.0,0.0,58.0,0.0,0.0,0.0,0.0,...,False,41.133333,52.383159,100.000000,85.200000,60.688281,Tier 5: Maintain/Monitor,NaN,NaN,NaN

In [16]:
merged_df.tail

<bound method NDFrame.tail of        County  Total_All_Schools_df0  TXST_df0  UT Austin_df0  Texas A&M_df0  \
0    ANDERSON                 1229.0       0.0            0.0           41.0
1     ANDREWS                  562.0       5.0            0.0            5.0
2    ANGELINA                 3378.0      50.0           37.0          157.0
3     ARANSAS                  471.0      34.0            0.0           29.0
4      ARCHER                  506.0       0.0            0.0            0.0
..        ...                    ...       ...            ...            ...
279      WOOD                 1061.0       0.0            0.0           11.0
280    YOAKUM                  354.0       0.0            0.0            0.0
281     YOUNG                  547.0       0.0            0.0            0.0
282    ZAPATA                  639.0       7.0            0.0            5.0
283    ZAVALA                  471.0      12.0            0.0            0.0

     Texas Tech_df0  Stephen F. Austin_df0  UTSA_df0  UNT_df0  UH_df0  ...  \
0               0.0                   23.0       0.0      0.0     0.0  ...
1              53.0                    0.0       0.0      0.0     0.0  ...
2              11.0                  505.0       0.0      0.0     8.0  ...
3               0.0                    5.0      29.0      0.0     0.0  ...
4              58.0                    0.0       0.0      0.0     0.0  ...
..              ...                    ...       ...      ...     ...  ...
279             0.0                    8.0       0.0      7.0     0.0  ...
280             0.0                    0.0       0.0      0.0     0.0  ...
281            47.0                    0.0       0.0     24.0     0.0  ...
282             0.0                    0.0      18.0      0.0     0.0  ...
283             0.0                    0.0      24.0      0.0     0.0  ...

    Prime_Target_df8 Academic_Score_df8  Market_Score_df8  TXST_Gap_Score_df8  \
0              False          26.657143         59.836789          100.000000
1              False          34.400000         53.264286           99.110320
2              False          32.166667         68.335870           98.519834
3              False          14.400000         51.781559           92.781316
4              False          41.133333         52.383159          100.000000
..               ...                ...               ...                 ...
279            False          41.466667         58.601662          100.000000
280            False          26.000000         49.385813          100.000000
281            False          47.000000         53.037174          100.000000
282            False           3.200000         54.342381           98.904538
283              NaN                NaN               NaN                 NaN

     Participation_Score_df8  Strategic_Opportunity_Score_df8  \
0                  64.157143                        55.029608
1                  47.100000                        54.271350
2                  50.628571                        58.134252
3                  94.800000                        49.330731
4                  85.200000                        60.688281
..                       ...                              ...
279                55.816667                        59.748832
280                50.900000                        50.305744
281                64.633333                        61.174485
282                75.300000                        44.893622
283                      NaN                              NaN

         Opportunity_Tier_df8  TXST_Enrollment_df9 Total_Enrollment_df9  \
0    Tier 5: Maintain/Monitor                  NaN                  NaN
1    Tier 5: Maintain/Monitor                  5.0                562.0
2         Tier 4: Volume Play                 50.0               3378.0
3    Tier 5: Maintain/Monitor                 34.0                471.0
4    Tier 5: Maintain/Monitor                  NaN                  NaN
..                        ...                  ...                  ...
279  Tier 5: Maintain/Monitor                  NaN                  NaN
280  Tier 5: Maintain/Monitor                  NaN                  NaN
281  Tier 5: Maintain/Monitor                  NaN                  NaN
282  Tier 5: Maintain/Monitor                  7.0                639.0
283                       NaN                 12.0                471.0

    TXST_Market_Share_df9
0                     NaN
1                0.889680
2                1.480166
3                7.218684
4                     NaN
..                    ...
279                   NaN
280                   NaN
281                   NaN
282              1.095462
283              2.547771

[284 rows x 136 columns]>

In [17]:
merged_df.to_csv('final_analyzed_dataset.csv')