In [1]:
import pandas as pd
import glob

# Get all CSV files
csv_files = sorted(glob.glob('satact-district-data/satact-district-data-class-*.csv'))

In [2]:
# Check format 
for file in csv_files:
    df = pd.read_csv(file)
    year = file.split('-')[-1].replace('.csv', '')
    print(f"{year}: {df.shape} | Columns: {df.columns.tolist()[:5]}...")

2019: (58320, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...
2020: (61560, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...
2021: (60819, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...
2022: (61446, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...
2023: (61503, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...
2024: (61047, 14) | Columns: ['Group', 'District', 'DistName', 'County', 'CntyName']...

In [3]:
# Check if all columns match
for file in csv_files:
    df = pd.read_csv(file)
    year = file.split('-')[-1].replace('.csv', '')
    print(f"{year}: {df.columns.tolist()}")

2019: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']
2020: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']
2021: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']
2022: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']
2023: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']
2024: ['Group', 'District', 'DistName', 'County', 'CntyName', 'Region', 'RegnName', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate', 'Crit_Mskd', 'Above_Crit_Rate', 'TSI_Both_Mskd', 'Above_TSI_Both_Rate']

In [4]:
df_sample = pd.read_csv(csv_files[0])
print("Sample data:")
print(df_sample.head(10))
print("\n" + "="*80)
print(f"\nUnique Groups: {df_sample['Group'].unique()}")
print(f"\nMissing values:\n{df_sample.isnull().sum()}")

Sample data:
                        Group  District    DistName  County         CntyName  \
0                All Students      1902  Cayuga ISD       1  Anderson County
1            African American      1902  Cayuga ISD       1  Anderson County
2             American Indian      1902  Cayuga ISD       1  Anderson County
3                       Asian      1902  Cayuga ISD       1  Anderson County
4                    Hispanic      1902  Cayuga ISD       1  Anderson County
5            Pacific Islander      1902  Cayuga ISD       1  Anderson County
6                       White      1902  Cayuga ISD       1  Anderson County
7                 Multiracial      1902  Cayuga ISD       1  Anderson County
8           Missing Ethnicity      1902  Cayuga ISD       1  Anderson County
9  Economically Disadvantaged      1902  Cayuga ISD       1  Anderson County

   Region RegnName Grads_Mskd Exnees_Mskd  Part_Rate Crit_Mskd  \
0       7  Kilgore        <50         <25       50.0       <25
1       7  Kilgore        <25         <25      100.0       <25
2       7  Kilgore        <25         <25        NaN       <25
3       7  Kilgore        <25         <25        NaN       <25
4       7  Kilgore        <25         <25        NaN       <25
5       7  Kilgore        <25         <25        NaN       <25
6       7  Kilgore        <50         <25       51.2       <25
7       7  Kilgore        <25         <25       25.0       <25
8       7  Kilgore          0           0        NaN         0
9       7  Kilgore        <25         <25       36.8       <25

   Above_Crit_Rate TSI_Both_Mskd  Above_TSI_Both_Rate
0             20.8           <25                 62.5
1              NaN           <25                  NaN
2              NaN           <25                  NaN
3              NaN           <25                  NaN
4              NaN           <25                  NaN
5              NaN           <25                  NaN
6             22.7           <25                 68.2
7              NaN           <25                  NaN
8              NaN             0                  NaN
9              NaN           <25                 42.9

================================================================================

Unique Groups: ['All Students' 'African American' 'American Indian' 'Asian' 'Hispanic'
 'Pacific Islander' 'White' 'Multiracial' 'Missing Ethnicity'
 'Economically Disadvantaged' 'Not Economically Disadvantaged'
 'Missing Econ' 'Female' 'Male' 'Missing Gender' 'Bil/ESL' 'Not Bil/ESL'
 'Missing Bil/ESL' 'CTE' 'Not CTE' 'Missing CTE' 'Gifted' 'Not Gifted'
 'Missing Gifted' 'Special Ed' 'Not Special Ed' 'Missing Special Ed'
 'Title1' 'Not Title1' 'Missing Title1' 'At-Risk' 'Not At-Risk'
 'Missing At-Risk' 'English Learner' 'Not English Learner'
 'Missing English Learner' 'Immigrant' 'Not Immigrant' 'Missing Immigrant'
 'Migrant' 'Not Migrant' 'Missing Migrant' 'Dyslexia' 'Not Dyslexia'
 'Missing Dyslexia' 'Homeless' 'Not Homeless' 'Missing Homeless'
 'Foster Care' 'Not Foster Care' 'Missing Foster Care'
 'Military-Connected' 'Not Military-Connected'
 'Missing Military-Connected']

Missing values:
Group                      0
District                   0
DistName                   0
County                     0
CntyName                   0
Region                     0
RegnName                   0
Grads_Mskd                 0
Exnees_Mskd                0
Part_Rate              28784
Crit_Mskd                  0
Above_Crit_Rate        33370
TSI_Both_Mskd              0
Above_TSI_Both_Rate    30079
dtype: int64

In [6]:
all_data = []

for file in csv_files:
    year = file.split('-')[-1].replace('.csv', '')
    df = pd.read_csv(file)
    df['Year'] = year
    all_data.append(df)

combined_df = pd.concat(all_data, ignore_index=True)
combined_df = combined_df.sort_values(['District', 'Year', 'Group'])

combined_df.to_csv('combined_satact_all_data.csv', index=False)
print(f"Saved: {len(combined_df)} rows, {combined_df['District'].nunique()} unique districts")
combined_df.head(20)

Saved: 364695 rows, 1104 unique districts

,Group,District,DistName,County,CntyName,Region,RegnName,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate,Year
1,African American,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,100.0,<25,NaN,<25,NaN,2019
0,All Students,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,50.0,<25,20.8,<25,62.5,2019
2,American Indian,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
3,Asian,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
30,At-Risk,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,23.1,<25,NaN,<25,33.3,2019
15,Bil/ESL,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
18,CTE,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,50.0,<25,21.1,<25,63.2,2019
42,Dyslexia,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,33.3,<25,NaN,<25,NaN,2019
9,Economically Disadvantaged,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,36.8,<25,NaN,<25,42.9,2019
33,English Learner,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
12,Female,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,63.2,<25,33.3,<25,66.7,2019
48,Foster Care,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
21,Gifted,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,100.0,<25,66.7,<25,83.3,2019
4,Hispanic,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
45,Homeless,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
36,Immigrant,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
13,Male,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,41.4,<25,8.3,<25,58.3,2019
39,Migrant,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
51,Military-Connected,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<25,<25,NaN,<25,NaN,<25,NaN,2019
32,Missing At-Risk,1902,Cayuga ISD,1,Anderson County,7,Kilgore,0,0,NaN,0,NaN,0,NaN,2019

In [7]:
# Check missing values
print("Missing values by column:")
print(combined_df.isnull().sum())
print("\n" + "="*80)

Missing values by column:
Group                       0
District                    0
DistName                    0
County                      0
CntyName                    0
Region                      0
RegnName                    0
Grads_Mskd                  0
Exnees_Mskd                 0
Part_Rate              175198
Crit_Mskd                   0
Above_Crit_Rate        218235
TSI_Both_Mskd               0
Above_TSI_Both_Rate    198694
Year                        0
dtype: int64

================================================================================

In [8]:
# Percentage missing
print("\nPercentage missing:")
missing_pct = (combined_df.isnull().sum() / len(combined_df)) * 100
print(missing_pct)

print("\n" + "="*80)
print(f"\nTotal rows: {len(combined_df)}")

Percentage missing:
Group                   0.000000
District                0.000000
DistName                0.000000
County                  0.000000
CntyName                0.000000
Region                  0.000000
RegnName                0.000000
Grads_Mskd              0.000000
Exnees_Mskd             0.000000
Part_Rate              48.039595
Crit_Mskd               0.000000
Above_Crit_Rate        59.840415
TSI_Both_Mskd           0.000000
Above_TSI_Both_Rate    54.482239
Year                    0.000000
dtype: float64

================================================================================

Total rows: 364695

In [9]:
# Check the Record_Layout sheet from one of the Excel files
excel_file = pd.ExcelFile('satact-district-data/satact-district-data-class-2019.xlsx')

# Read the Record_Layout sheet
record_layout = pd.read_excel(excel_file, sheet_name='Record_Layout')

print("Variable definitions:")
print(record_layout)

Variable definitions:
   SAT/ACT District Variables Layout for Class of 2019 Data Download  \
0                                            Variable
1                                     Above_Crit_Rate
2                                 Above_TSI_Both_Rate
3                                            CntyName
4                                              County
5                                           Crit_Mskd
6                                            DistName
7                                            District
8                                         Exnees_Mskd
9                                          Grads_Mskd
10                                              Group
11                                          Part_Rate
12                                             Region
13                                           RegnName
14                                      TSI_Both_Mskd
15                                                NaN
16  aTexas Success Initiative. bA score of 480 or ...

                                           Unnamed: 1
0                                         Description
1   Percent of graduating examinees scoring at or ...
2   Percent of graduating examinees meeting the co...
3                                         County name
4                                       County number
5   Number of graduating examinees scoring at or a...
6                                       District name
7                                     District number
8   Number of graduates taking the SAT and/or ACT ...
9                        Number of graduates (masked)
10  All students group or race/ethnicity, economic...
11     Percent of graduates taking the SAT and/or ACT
12                                      Region number
13                                        Region name
14  Number of graduating examinees meeting the col...
15                                                NaN
16                                                NaN

In [10]:
# Check missing data by Group
missing_by_group = combined_df.groupby('Group')[['Part_Rate', 'Above_Crit_Rate', 'Above_TSI_Both_Rate']].apply(lambda x: x.isnull().sum())
missing_pct_by_group = combined_df.groupby('Group')[['Part_Rate', 'Above_Crit_Rate', 'Above_TSI_Both_Rate']].apply(lambda x: (x.isnull().sum() / len(x)) * 100)

print("Missing data by Group (percentage):")
print(missing_pct_by_group.sort_values('Part_Rate', ascending=False))

print("\n" + "="*80)

Missing data by Group (percentage):
                         Part_Rate  Above_Crit_Rate  Above_TSI_Both_Rate
Group
Missing Foster Care     100.000000        88.876840            85.034857
Missing Gender          100.000000        99.690163            99.628195
Missing Gifted          100.000000        88.876840            85.034857
Missing Homeless        100.000000        88.876840            85.034857
Missing Immigrant       100.000000        86.382649            81.440744
...                            ...              ...                  ...
Not Homeless              0.883036        12.765298             7.405112
Not Military-Connected    0.867545        12.951201             7.467080
All Students              0.805577        11.928737             6.615027
Not Migrant               0.780089        12.462853             7.095097
Not EB/EL                 0.775434        13.337469             7.599256

[71 rows x 3 columns]

================================================================================

In [11]:
# Before filtering
print(f"Total rows before: {len(combined_df)}")
print(f"Unique groups: {combined_df['Group'].nunique()}")
print(f"\nAll groups present:")
print(combined_df['Group'].value_counts())

print("\n" + "="*80 + "\n")

Total rows before: 364695
Unique groups: 71

All groups present:
Group
African American    6455
All Students        6455
American Indian     6455
Asian               6455
At-Risk             6455
                    ...
Missing Title I     1071
Not EB              1071
Not Migratory       1071
Not Title I         1071
Title I             1071
Name: count, Length: 71, dtype: int64

================================================================================

In [12]:
# After filtering to All Students
all_students_only = combined_df[combined_df['Group'] == 'All Students']
print(f"Rows after filtering to 'All Students': {len(all_students_only)}")

Rows after filtering to 'All Students': 6455

In [13]:
# What we're removing
removed = combined_df[combined_df['Group'] != 'All Students']
print(f"\nRows being removed: {len(removed)}")
print(f"\nGroups being removed (top 20):")
print(removed['Group'].value_counts().head(20))

Rows being removed: 358240

Groups being removed (top 20):
Group
African American              6455
American Indian               6455
Asian                         6455
At-Risk                       6455
Bil/ESL                       6455
Dyslexia                      6455
White                         6455
Economically Disadvantaged    6455
Female                        6455
Foster Care                   6455
Hispanic                      6455
Gifted                        6455
Homeless                      6455
Immigrant                     6455
Missing CTE                   6455
Male                          6455
Military-Connected            6455
Missing At-Risk               6455
Missing Dyslexia              6455
Missing Bil/ESL               6455
Name: count, dtype: int64

In [14]:
sat_act_clean = combined_df[combined_df['Group'] == 'All Students'].copy()
sat_act_clean = sat_act_clean.drop(columns=['Group'])

sat_act_clean.to_csv('satact-district-data/sat_act_clean_all_students.csv', index=False)
print(f"Saved: {len(sat_act_clean)} rows")
sat_act_clean.head(10)

Saved: 6455 rows

,District,DistName,County,CntyName,Region,RegnName,Grads_Mskd,Exnees_Mskd,Part_Rate,Crit_Mskd,Above_Crit_Rate,TSI_Both_Mskd,Above_TSI_Both_Rate,Year
0,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,50.0,<25,20.8,<25,62.5,2019
58320,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,31.7,<25,NaN,<25,30.8,2020
119880,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<25,58.3,<25,19.0,<25,19.0,2021
180699,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<50,63.0,<25,10.3,<25,27.6,2022
242145,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<50,100.0,<25,7.1,<25,28.6,2023
303648,1902,Cayuga ISD,1,Anderson County,7,Kilgore,<50,<50,100.0,<25,2.7,<25,24.3,2024
54,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,<50,40.0,<25,21.9,<25,40.6,2019
58377,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,<75,59.8,<25,14.5,<25,27.3,2020
119937,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<100,<50,51.6,<25,8.5,<25,27.7,2021
180756,1903,Elkhart ISD,1,Anderson County,7,Kilgore,<75,<50,44.9,<25,12.9,<25,41.9,2022

In [15]:
# Check missing values in cleaned dataset
print("Missing values:")
print(sat_act_clean.isnull().sum())

print("\n" + "="*80)

Missing values:
District                 0
DistName                 0
County                   0
CntyName                 0
Region                   0
RegnName                 0
Grads_Mskd               0
Exnees_Mskd              0
Part_Rate               52
Crit_Mskd                0
Above_Crit_Rate        770
TSI_Both_Mskd            0
Above_TSI_Both_Rate    427
Year                     0
dtype: int64

================================================================================

In [16]:

# Percentage missing
print("\nPercentage missing:")
missing_pct = (sat_act_clean.isnull().sum() / len(sat_act_clean)) * 100
print(missing_pct)

print("\n" + "="*80)

Percentage missing:
District                0.000000
DistName                0.000000
County                  0.000000
CntyName                0.000000
Region                  0.000000
RegnName                0.000000
Grads_Mskd              0.000000
Exnees_Mskd             0.000000
Part_Rate               0.805577
Crit_Mskd               0.000000
Above_Crit_Rate        11.928737
TSI_Both_Mskd           0.000000
Above_TSI_Both_Rate     6.615027
Year                    0.000000
dtype: float64

================================================================================

In [17]:
# Check which districts/years have missing Part_Rate
print("\nRows with missing Part_Rate:")
missing_part = sat_act_clean[sat_act_clean['Part_Rate'].isnull()]
print(f"Count: {len(missing_part)}")
if len(missing_part) > 0:
    print(missing_part[['District', 'DistName', 'Year', 'Grads_Mskd', 'Exnees_Mskd']].head(10))

print("\n" + "="*80)

Rows with missing Part_Rate:
Count: 52
        District                            DistName  Year Grads_Mskd  \
3186       15826                    Kipp San Antonio  2019        <25
307011     15827    School of Science and Technology  2024        <25
3402       15831  School Of Science And Technology D  2019        <25
307182     15831    School of Science and Technology  2024        <25
307467     15840           San Antonio STEAM Academy  2024        <25
7344       31505  University Of Texas Rio Grande Val  2019        <25
66015      31505  University Of Texas Rio Grande Val  2020        <25
127518     31505  University Of Texas Rio Grande Val  2021        <25
188394     31505  University Of Texas Rio Grande Val  2022        <25
249897     31505  University Of Texas Rio Grande Val  2023        <25

       Exnees_Mskd
3186          <225
307011         <75
3402           <25
307182         <75
307467         <25
7344           <50
66015          <50
127518         <25
188394         <50
249897         <25

================================================================================

In [18]:
# Check which districts/years have missing Above_Crit_Rate
print("\nRows with missing Above_Crit_Rate:")
missing_crit = sat_act_clean[sat_act_clean['Above_Crit_Rate'].isnull()]
print(f"Count: {len(missing_crit)}")
if len(missing_crit) > 0:
    print(missing_crit[['District', 'DistName', 'Year', 'Grads_Mskd', 'Exnees_Mskd', 'Part_Rate']].head(10))

Rows with missing Above_Crit_Rate:
Count: 770
        District       DistName  Year Grads_Mskd Exnees_Mskd  Part_Rate
58320       1902     Cayuga ISD  2020        <50         <25       31.7
242316      1906     Neches ISD  2023        <50         <25       57.7
120222      1909     Slocum ISD  2021        <50         <25       12.5
59061       3906    Zavalla ISD  2020        <50         <25       11.5
242886      3906    Zavalla ISD  2023        <25         <25        5.9
304389      3906    Zavalla ISD  2024        <25         <25       29.4
59460       7901  Charlotte ISD  2020        <50         <25       46.2
243285      7901  Charlotte ISD  2023        <50         <25       76.9
304788      7901  Charlotte ISD  2024        <50         <25       65.5
243513      7906     Poteet ISD  2023       <125         <50       41.7